@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    background-color: #000000;
    overflow: hidden;
}

.card {
    border: 1px solid #2e2e2e;
    border-radius: 8px;
    padding: 0 10px 10px 10px;
}

.card-title {
    margin-top: 5px;
}

.centered {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height to center vertically on page */
}

/* properties concerning all text */
body, .card, h1, h2, h3, p, a, span, div {
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
}