.general-site-font{
  font-family: "Tinos", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  text-align: center;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.invisible {
  opacity: 0;
  height: 1.5em;
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  width: 100vw;
}

.italic {
  font-style: italic;
}

body {
    background-color: #242424;
    margin: 0;
    padding: 0;
}