.logo-style {
    height: 30px;
    padding-left: 15px;
    padding-top: 3px
}

.navbar-section:hover, .selected {
    font-weight:bold;
    cursor: pointer
}

.general-site-font{
  font-family: "Tinos", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-4px) scale(1.03);
  box-shadow: 0 8px 32px rgba(0,0,0,0.13);
}

.project-card {
  width: 400px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .project-card {
    width: 90vw;
    max-width: 95vw;
  }
}