.logo-style {
    height: 30px;
    padding-left: 15px;
    padding-top: 3px
}

.navbar-section:hover {
    font-weight:bold;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  text-align: center;
}